.tfa-business-manager > ul {
  overflow: hidden;
  width: 100%;
  height: 10px;
  position: fixed;
  top: 20px;
  left: 0;
  display: flex; }
  .tfa-business-manager > ul li {
    flex: 33%;
    background-color: #cccccc;
    height: 10px;
    margin: 0 5px; }

.tfa-business-manager h2 {
  text-align: center;
  margin-bottom: 60px;
  margin-top: 40px;
  font-size: 20px; }

.tfa-business-manager > div {
  margin: 15px 0;
  padding-left: 50px; }
  .tfa-business-manager > div.tfa-margin-top {
    margin-top: 150px; }

.tfa-business-manager input[type=checkbox] {
  border: 1px solid #000000;
  outline: none;
  margin-right: 15px; }

.tfa-business-manager button {
  border: 1px solid #000000;
  text-align: center;
  height: 45px;
  width: 300px;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  outline: none; }

.tfa-business-application, .tfa-background-application {
  text-align: center; }
  .tfa-business-application > span, .tfa-background-application > span {
    display: inline-block;
    position: fixed;
    top: 20px;
    left: 0;
    text-align: center;
    width: 100%;
    color: #000000;
    z-index: 88; }

form.tfa-business-application-form {
  margin: 10px 0; }
  form.tfa-business-application-form h2 {
    font-weight: 800;
    text-align: left; }
  form.tfa-business-application-form input {
    height: 35px;
    width: 100%;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #cccccc;
    outline: none; }
    form.tfa-business-application-form input.tfa-margin-top {
      margin-top: 70px; }
  form.tfa-business-application-form button {
    position: fixed;
    bottom: 45px;
    left: 20px;
    flex: 100%;
    border: 1px solid #000000;
    margin: 0 2px;
    height: 90px;
    outline: none;
    cursor: pointer;
    line-height: 90px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    width: 90%; }
