.tfa-create-account {
    text-align: center;

    > span {
        display: inline-block;
        position: fixed;
        top: 20px;
        left: 0;
        text-align: center;
        width: 100%;
        color: #cccccc;
        z-index: 88;
    }
    .tfa-goback {
        width: 25px;
        height: 25px;
        background: #ffffff;
        position: fixed;
        top: 20px;
        left: 20px;
        outline: none;
        text-decoration: none;
        color: #cccccc;
        font-size: 20px;
        font-weight: 800;
        line-height: 25px;
        text-align: center;
        z-index:89;
    }

    .tfa-logo {
        width: 85px;
        height: 85px;
        background-color: #cccccc;
        line-height: 85px;
        text-align: center;
        margin: 85px 0;
        display: inline-block
    }

    form {
        margin: 10px 0;

        h2 {
            font-weight: 800;
            text-align: left;
        }

        input {
            height: 40px;
            width: 100%;
            margin: 10px 0;
            padding: 0 10px;
            border: 1px solid #cccccc;
        }

        button {
            position: fixed;
            bottom:45px;
            left: 20px;
            flex: 100%;
            border: 1px solid #000000;
            margin: 0 2px;
            height: 90px;
            outline: none;
            cursor: pointer;
            line-height: 90px;
            text-align: center;
            text-transform: uppercase;
            color: #000000;
            width: 90%;
        }
    }

    
}