.tfa-signup {
    position: absolute;
    bottom: 60px;
    width: 100%;
    left: 0;
    padding: 0 20px;

    a {
        display: block;
        border: 1px solid #000000;
        width: 100%;
        text-transform: uppercase;
        height: 45px;
        outline: none;
        text-decoration: none;
        line-height: 45px;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
        margin: 10px 0;
    }
}